@model UserModel

@if (Model != null)
{
	<div class="user-info">
		@if (Model.ProfilePicture != null)
		{
			<img class="user-pic" 
			src="@(Model.ProfilePicture.StartsWith("https") ? "" : "data:image/png;base64,")@Model.ProfilePicture"
			alt="@Model.UserName profile picture" />
		}
		else
		{
			<img class="user-pic" src="~/NullProfilePic.png" alt="@Model.UserName profile picture" />
		}

		<div class="user-username">@Model.UserName</div>

		@if (Model.Id != ViewData["LoggedUserId"]?.ToString())
		{
			<button class="follow-button" onclick="Follow('@Model.Id')">
				@(Model.Followers.Any(u => u.FollowerId == ViewData["LoggedUserId"]?.ToString()) ? "Unfollow" : "Follow")
			</button>
		}

		<div class="user-follow-info">
			<p>Followers: @(Model.Followers == null ? "0" : Model.Followers.Count)</p>
			<p>Following: @(Model.Following == null ? "0" : Model.Following.Count)</p>
		</div>

		<div class="user-name">@Model.Name</div>

		<div class="user-description">@Model.Description</div>

		<div class="user-dob">@Model.DateofBirth.ToShortDateString()</div>

		@if (TempData["TotalLikes"] != null)
		{
			<div>Total likes: @TempData["TotalLikes"]</div>
			<div>Total Posts: @TempData["TotalPosts"]</div>
			<div>Total Comments: @TempData["TotalComments"]</div>
		}
	</div>
}