@model ICollection<PostModel>

<link rel="stylesheet" href="~/css/PostContainer.css" asp-append-version="true"/>

@foreach (PostModel post in Model)
{
	<div class="post-container">
		<div class="post-info">
			@if (post.User.ProfilePicture != null) {
				<img src="data:image/png;base64,@post.User.ProfilePicture" />
			}
			else {
				<img />
			}

			@if (post.IsEdited)
			{
				<span>@post.User.UserName</span> <i style="font-size: 14px; margin-left: 0.5rem;">(This post is edited)</i>
			}
			else
			{
				<span>@post.User.UserName</span>
			}

			<div type="button" class="post-option-button" id="PostOptionButton" onclick="OptionButton(this);" onmousedown="event.stopPropagation()"><span>...</span>
				<form method="post" enctype="multipart/form-data" onmousedown="event.stopPropagation()" onclick="event.stopPropagation();" class="post-form">
					<input type="hidden" name="PostId" value="@post.Id"/>

					<input type="button" value="Edit" onclick="EditPostWindow(@post.Id.ToString(), this);" />
					<input type="submit" value="Delete" formaction="@Url.Action("DeletePost")" />
				</form>
			</div>
		</div>

		<div class="post-content">
			<div>@post?.Content</div>

			@if (post.Media != null && post.User.ShowImages)
			{
				<img src="data:image/png;base64,@post.Media" />
			}
			else if (post.Media != null && !post.User.ShowImages)
			{
				<div class="flip-div" onclick="ShowPostImg(this)">Show Image</div>
				<img id="" src="data:image/png;base64,@post.Media" class="ImgFinder"/>
			}
		</div>

		<div class="post-stats">
			<button type="button">
				<span>@post.Likes  Likes</span>
			</button>

			<button type="button">
				<span>0  Comments</span>
			</button>
		</div>

	</div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	function ShowPostImg(element) {
		const img = element.nextElementSibling;
		img.id = "currentimg";
		$(`#${img.id}`).slideToggle();
		img.id = "";
	};
</script>