@model UserModel

@{
	if (@Model != null)
	{
		ViewData["Title"] = @Model.UserName;
	} 
	else
	{
		ViewData["Title"] = "Home";
	}
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true"/>

<div class="box-container">
	<div class="left-box" id="LeftBoxV">
		<div class="user-info">
			@if (Model is UserModel)
			{
				if (Model.ProfilePicture != null) {
					<img src="data:image/png;base64,@Model.ProfilePicture" class="user-pic" />
				}
				else
				{
					<img class="user-pic" src=""/>
				}
				
				<div>@Model.UserName</div>

				@if (!string.IsNullOrEmpty(Model.Name))
				{
					<div>@Model.Name</div>
				}

				@if (!string.IsNullOrEmpty(Model.Description))
				{
					<div class="user-description">@Model.Description</div>
				}

				<div>Born: @Model.DateofBirth.ToShortDateString()</div>
			}
		</div>
	</div>

	<div class="center-box">
		@if (Model is UserModel)
		{
			<div class="post-container">
				<button type="button" class="create-post-button" onclick="CreatePostWindow()">Create New Post</button>
			</div>

			if (Model.Posts.Any())
			{
				<partial name="PostDisplayer" model="Model.Posts"></partial>
			}
		}
	</div>

	<div class="right-box">

	</div>
</div>

<div id="PostDiv" class="post-div" ondblclick="event.stopPropagation()"></div>
<div id="EditPostDiv" class="post-div" ondblclick="event.stopPropagation()"></div>

<script src="~/js/PostWindows.js" asp-append-version="true"></script>
<script src="~/js/ImagePrev.js" asp-append-version="true"></script>