@model UserModel

@{
    if (@Model != null)
    {
        ViewData["Title"] = @Model.Username;
    } 
    else
    {
        ViewData["Title"] = "Home";
    }
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true"/>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="AllContainer">
    <div class="LeftBox" id="LeftBoxV">
        <div class="UserInfo">
            @if (@Model != null)
            {
                if (Model.ProfilePicture != null) {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" class="UserProfilePic" />
                }
                else
                {
                    <img class="UserProfilePic" src="~/Valentine.jpg"/>
                }
                
                <p style="font-size: 2.5rem;">@Model.Username</p>

                @if (!string.IsNullOrEmpty(Model.FirstName) || !string.IsNullOrEmpty(Model.LastName))
                {
                    <p>@Model.FirstName @Model.LastName</p>
                }

                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    <p class="UserDescription">@Model.Description</p>
                }

                <p>Born: @Model.DateofBirth.ToShortDateString()</p>
            } 
            else
            {
                <p>Don't miss the opportunity to post something.</p>
                <a asp-area="" asp-page="/Register">Create a new account here.</a>
                <p>or</p>
                <a asp-area="" asp-page="/Login">Login to your account here.</a>
            }
        </div>
    </div>

    <div class="CenterBox">
        @if (@Model is UserModel)
        {
            <div class="Post">
                <button type="button" class="CreatePostButton" onclick="CreatePostWindow()">Create New Post</button>
            </div>

            if (Model.Posts.Any())
            {
                foreach (var p in Model.Posts.Reverse())
                {
                    <div class="Post">

                        <div class="PostInfo">
                            @if (Model.ProfilePicture != null) {
                                <img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" />
                            }
                            else {
                                <img />
                            }

                            @if (p.IsEdited)
                            {
                                <span>@Model.Username</span><i style="font-size: 14px; margin-left: 0.5rem;">(This post is edited)</i>
                            }
                            else
                            {
                                <span>@Model.Username</span>
                            }
                            <div type="button" class="PostOptionButton" id="PostOptionButton" onclick="OptionButton(this);"><span>...</span>
                                <form enctype="multipart/form-data" onmousedown="event.stopPropagation()" onclick="event.stopPropagation();" class="PostForm">
                                    <input type="hidden" name="PostId" value="@p.Id"/>
                                    <input type="hidden" name="UserId" value="@Model.Id" />

                                    <input type="button" value="Edit" onclick="EditPostWindow(@p.Id.ToString(), this);" />
                                    <input type="submit" value="Delete" formaction="@Url.Action("DeletePost")" />
                                </form>
                            </div>
                        </div>

                        <div class="PostContent">
                            @if (!string.IsNullOrEmpty(p.PostContent))
                            {
                                <div>@p.PostContent</div>
                            }

                            @if (p.Media != null && Model.ShowImages)
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(p.Media)" />
                            }
                            else if (p.Media != null && !Model.ShowImages)
                            {
                                <div class="FlipDiv" onclick="ShowPostImg(this)">Show Image</div>
                                <img id="" src="data:image/png;base64,@Convert.ToBase64String(p.Media)" class="ImgFinder"/>
                            }
                        </div>

                        <div class="PostStats">
                            <button type="button">
                                <p>@p.Likes</p><span>Likes</span>
                            </button>

                            <button type="button">
                                <p>0</p><span>Comments</span>
                            </button>
                        </div>

                    </div>
                }
            }
        }
    </div>

    <script>
        $(document).ready(function () {
            $(".ImgFinder").slideUp();
        });
    </script>

    <div class="RightBox">

    </div>
</div>

<div id="PostDiv" class="PostDiv" ondblclick="event.stopPropagation()">
    @await Html.PartialAsync("CreatePost")
</div>

<div id="EditPostDiv" class="PostDiv" onclick="event.stopPropagation()">
    @*@await Html.PartialAsync("PartialEditPost", new PostModel())*@
</div>

<script src="~/js/PostWindows.js" asp-append-version="true"></script>
<script src="~/js/ImagePrev.js" asp-append-version="true"></script>