@using WebProject.Models;

@model UserModel

@{
    if (@Model != null)
    {
        ViewData["Title"] = @Model.Username;
    } 
    else
    {
        ViewData["Title"] = "Home";
    }

    Layout = "WebLayout";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true"/>

<div class="AllContainer">
    <div class="LeftBox">
        <div class="UserInfo">
            @if (@Model != null)
            {
                <img class="UserProfilePic"/>
                <p style="font-size: 2.5rem;">@Model.Username</p>

                @if ((@Model.FirstName != null || @Model.FirstName != String.Empty) ||
                (@Model.LastName != null || @Model.LastName != String.Empty))
                {
                    <p>@Model.FirstName @Model.LastName</p>
                }

                @if (@Model.Description != null || @Model.Description != String.Empty)
                {
                    <p class="UserDescription">@Model.Description</p>
                }

                <p>Born: @Model.DateofBirth.ToShortDateString()</p>
            } 
            else
            {
                <p>Don't miss the opportunity to post something.</p>
                <a asp-area="" asp-page="/Register">Create a new account here.</a>
                <p>or</p>
                <a asp-area="" asp-page="/Login">Login to your account here.</a>
            }
        </div>
    </div>

    <div class="CenterBox">
        @if (@Model != null)
        {
            <div class="Post">
                <button type="button" class="CreatePostButton" onclick="CreatePostWindow()">Create New Post</button>
            </div>

            if (Model.Posts.Any())
            {
                foreach (var p in Model.Posts.Reverse())
                {
                    <div class="Post">

                        <div class="PostInfo">
                            <img />
                            <span>@Model.Username</span>
                        </div>

                        <div class="PostContent">
                            @if (p.PostContent != null || p.PostContent != String.Empty)
                            {
                                <div>@p.PostContent</div>
                            }

                            @if (p.Media != null)
                            {
                                <img src="data:image/png;base64,@Convert.ToBase64String(p.Media)"/>
                            }
                        </div>

                        <div class="PostStats">
                            <button type="button">
                                <p>@p.Likes</p><span>Likes</span>
                            </button>
                    
                            <button type="button">
                                <p>0</p><span>Comments</span>
                            </button>
                        </div>

                    </div>
                }
            }

        }
        else
        {
            <p style="font-size:1.5rem; color:white">The programmer has not code this part of the page:(</p>
        }

    </div>

    <div class="RightBox">

    </div>
</div>

<div id="PostDiv" onclick="event.stopPropagation()">

    <form method="post" action="CreatePost" enctype="multipart/form-data">

        @if (@Model != null)
        {
            <input type="hidden" name="UserId" value="@Model.Id"/>
        }

        <div id="ContentHolder" class="ContentDiv">
            <textarea name="Content"></textarea>

            <div class="ButtonHolder">
                <input type="button" value="Cancel" onclick="RemoveTab()"/>
                <label>Image</label>
                <input type="file" id="File" name="pic" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" onchange="ImagePreview(this, document.getElementById('CurrentImageHolder'))" style="position:absolute; opacity:0;" />
                <input type="submit" value="Post"/>
            </div>
        </div>

        <div id="ImageHolder" class="ImageDiv">

        </div>
        
    </form>

</div>

<script src="~/js/CreatePostTab.js" asp-append-version="true"></script>
<script src="~/js/ImagePrev.js" asp-append-version="true" ></script>