@model DynamicUser

@{
	ViewData["Title"] = Model.PageUser.UserName ?? "User not Found";
}

<link rel="stylesheet" href="~/css/UserCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/PostContainer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/PostDiv.css" asp-append-version="true" />

<div class="box-container">
	<div class="left-box">
		<div class="user-info">
			@if (Model.PageUser.ProfilePicture != null) 
			{
				@if (Model.PageUser.ProfilePicture.StartsWith("https"))
				{
					<img src="@Model.PageUser?.ProfilePicture" class="user-pic" />
				}
				else
				{
					<img src="data:image/png;base64,@Model.PageUser?.ProfilePicture" class="user-pic" />
				}
			}
			else
			{
				<img class="user-pic" src="" />
			}

			<div class="user-username">@Model.PageUser?.UserName</div>

			<div class="user-name">@Model.PageUser?.Name</div>

			<div class="user-description">@Model.PageUser?.Description</div>

			<div class="user-dob">@Model.PageUser?.DateofBirth.ToShortDateString()</div>
		</div>
	</div>

	<div class="center-box" id="UserPostContainer">
		<partial name="UserPost" model="Model"></partial>
	</div>

	<div class="right-box">
		@await Component.InvokeAsync("AllUsers")
	</div>
</div>

<div id="CommentDiv" class="post-div" ondblclick="event.stopPropagation()"></div>
<div id="PostDiv" class="post-div" ondblclick="event.stopPropagation()"></div>
<div id="EditPostDiv" class="post-div" ondblclick="event.stopPropagation()"></div>

<script src="~/js/PostWindows.js" asp-append-version="true"></script>
<script src="~/js/ImagePrev.js" asp-append-version="true"></script>
<script src="~/js/PostScript.js" asp-append-version="true"></script>
