@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" />

<div class="AllContainer">
    <div class="LeftBox">
        <div class="UserInfo">
            <img class="UserProfilePic"/>
            <p style="font-size: 2.5rem;">@Model.PageUser.Username</p>

            @if ((@Model.PageUser.FirstName != null || @Model.PageUser.FirstName != String.Empty) ||
            (@Model.PageUser.LastName != null || @Model.PageUser.LastName != String.Empty))
            {
                <p>@Model.PageUser.FirstName @Model.PageUser.LastName</p>
            }

            @if (@Model.PageUser.Description != null || @Model.PageUser.Description != String.Empty)
            {
                <p class="UserDescription">@Model.PageUser.Description</p>
            }
            <p>Born: @Model.PageUser.DateofBirth.ToShortDateString()</p>
        </div>
    </div>

    <div class="CenterBox">
        <div class="Post">
            <button type="button" class="CreatePostButton" onclick="CreatePostWindow()">Create New Post</button>
        </div>

        @foreach (var p in Model.PageUser.Posts)
        {
            <div class="Post">
                <div class="PostInfo">
                    <img />
                    <span>@Model.PageUser.Username</span>
                </div>

                <div class="PostContent">
                    @if (p.PostContent != null || p.PostContent != String.Empty)
                    {
                        <div>
                            @p.PostContent
                        </div>
                    }                  
                </div>

                <div class="PostStats">
                    <button type="button">
                        <p>@p.Likes</p><span>Likes</span>
                    </button>
                    
                    <button type="button">
                        <p>0</p><span>Comments</span>
                    </button>  
                </div>
            </div>
        }
    </div>

    <div class="RightBox">

    </div>
</div>

<div id="PostDiv" onclick="event.stopPropagation()">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <textarea asp-for="CreatePost.PostContent"></textarea>
        <span asp-validation-for="CreatePost.PostContent" class="text-danger"></span>

        <input type="submit" value="Create post"/>
    </form>
</div>

<script src="~/js/CreatePostTab.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}