@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "WebLayout";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true"/>

<div class="AllContainer">
    <div class="LeftBox">
        <div class="UserInfo">
            @if (@Model.IsthereUser && @Model.PageUser != null)
            {
                <img class="UserProfilePic"/>
                <p style="font-size: 2.5rem;">@Model.PageUser.Username</p>

                @if ((@Model.PageUser.FirstName != null || @Model.PageUser.FirstName != String.Empty) ||
                (@Model.PageUser.LastName != null || @Model.PageUser.LastName != String.Empty))
                {
                    <p>@Model.PageUser.FirstName @Model.PageUser.LastName</p>
                }

                @if (@Model.PageUser.Description != null || @Model.PageUser.Description != String.Empty)
                {
                    <p class="UserDescription">@Model.PageUser.Description</p>
                }
                <p>Born: @Model.PageUser.DateofBirth.ToShortDateString()</p>
            } 
            else
            {
                <p>Don't miss the opportunity to post something.</p>
                <a asp-area="" asp-page="/Register">Create a new account here.</a>
                <p>or</p>
                <a asp-area="" asp-page="/Login">Login to your account here.</a>
            }
        </div>
    </div>

    <div class="CenterBox">
        @if (@Model.IsthereUser && @Model.PageUser != null)
        {
            <div class="Post">
                <button type="button" class="CreatePostButton" onclick="CreatePostWindow()">Create New Post</button>
            </div>

            if (Model.PageUser.Posts.Any())
            {
                foreach (var p in Model.PageUser.Posts.Reverse())
                {
                    <div class="Post">

                        <div class="PostInfo">
                            <img />
                            <span>@Model.PageUser.Username</span>
                        </div>

                        <div class="PostContent">
                            @if (p.PostContent != null || p.PostContent != String.Empty)
                            {
                                <div>
                                    @p.PostContent
                                </div>
                            }                  
                        </div>

                        <div class="PostStats">
                            <button type="button">
                                <p>@p.Likes</p><span>Likes</span>
                            </button>
                    
                            <button type="button">
                                <p>0</p><span>Comments</span>
                            </button>
                        </div>

                    </div>
                }
            }

        }
        else
        {
            <p style="font-size:1.5rem; color:white">The programmer has not code this part of the page:(</p>
        }

    </div>

    <div class="RightBox">

    </div>
</div>

<div id="PostDiv" onclick="event.stopPropagation()">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CreatePost.UserModelId"/>

        <textarea asp-for="CreatePost.PostContent"></textarea>
        <span asp-validation-for="CreatePost.PostContent" class="text-danger"></span>

        <div class="ButtonHolder">
            <input type="button" value="Cancel" onclick="RemoveTab()"/>
            <input type="file"/>
            <input type="submit" value="Post"/>s
        </div>
    </form>
</div>

<script src="~/js/CreatePostTab.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}