@model UserModel
@{
	ViewData["Title"] = "Edit Profile";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/RegisterCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true" />

<div class="AllContainer" style="height: 40rem;">
	<div class="LeftBox" style="width:25.5%; border: 1px solid green;">
		<partial name="SettingsActions"></partial>
	</div>

	<div class="CenterBox" style="width: 69%; border: 1px solid red; margin-right: 0;">
		@if (Model != null)
		{

		}
		<form method="post" enctype="multipart/form-data" class="EditProfileForm">
			<input type="hidden" name="Id" value="@Model.Id"/>
			<div class="FieldContainer InputSettings">
				<label>Username</label>
				<input name="Username" value="@Model.Username" />

				<label>First name</label>
				@if (Model.FirstName != null || Model.FirstName != String.Empty)
				{
					<input name="FirstName" value="@Model.FirstName" />
				}
				else
				{
					<input name="FirstName" />
				}

				<label>Last name</label>
				@if (Model.LastName != null || Model.LastName != String.Empty)
				{
					<input name="LastName" value="@Model.LastName" />
				}
				else
				{
					<input name="LastName" />
				}

				<label>Description</label>
				@if (Model.Description != null || Model.Description != String.Empty)
				{
					<textarea name="Description">@Model.Description</textarea>
				}
				else
				{
					<textarea name="Description"></textarea>
				}
			</div>

			<div class="SettingsPicFrame">
				@if (Model.ProfilePicture != null)
				{
					<img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" id="SettingsFrame" />
				}
				else
				{
					<img src="~/Valentine.jpg" id="SettingsFrame" />
				}
				<input type="button" value="Edit Picture" onclick="FakeCall()" class="ButtonEdit"/>
				<input type="file" id="Settingsfile" name="ProfilePicture" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" onchange="SettingImagePreview(this)" style="display:none;"/>
			</div>

			<div class="SettingsButton">
				<p>For changing the password and email address check "Passwords and Email Address".</p>
				<input type="submit" value="Update profile" class="ButtonEdit"/>
			</div>

		</form>
	</div>
</div>

<script src="~/js/ImagePrev.js" asp-append-version="true"></script>