@model UserModel
@{
	ViewData["Title"] = "Edit Profile";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/RegisterCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true" />

@*@if (!string.IsNullOrEmpty(ViewBag.Message)){
	<div class="AlertMessage" id="MessageSuccess">@ViewBag.Message <div class="CloseButton" onclick="this.parentElement.style.display='none';"></div></div>
}*@

<div class="AllContainer AllContainerSettings">
	<div class="LeftBoxSettings">
		<partial name="SettingsActions"></partial>
	</div>

	<hr style="margin: 0.5rem 0" />

	<div class="SettingsCenterBox CenterBox">
		@if (Model is UserModel && Model != null)
		{
			<form method="post" enctype="multipart/form-data" class="EditProfileForm">
				<input type="hidden" asp-for="Id" value="@Model.Id" />
				<div class="FieldContainer InputSettings">
					<label>Username</label>
					<input asp-for="Username" value="@Model.Username" />
					<span asp-validation-for="@Model.Username" class="text-danger"></span>

					<label>First name</label>
					@if (!string.IsNullOrEmpty(Model.FirstName))
					{
						<input asp-for="FirstName" value="@Model.FirstName" />
					}
					else
					{
						<input asp-for="FirstName" />
					}
					<span asp-validation-for="@Model.FirstName" class="text-danger"></span>

					<label>Last name</label>
					@if (!string.IsNullOrEmpty(Model.LastName))
					{
						<input asp-for="LastName" value="@Model.LastName" />
					}
					else
					{
						<input asp-for="LastName" />
					}
					<span asp-validation-for="@Model.LastName" class="text-danger"></span>

					<label>Description</label>
					@if (!string.IsNullOrEmpty(Model.Description))
					{
						<textarea asp-for="Description">@Model.Description</textarea>
					}
					else
					{
						<textarea asp-for="Description"></textarea>
					}
					<span asp-validation-for="@Model.Description" class="text-danger"></span>
				</div>

				<div class="SettingsPicFrame">
					@if (Model.ProfilePicture != null)
					{
						<img src="data:image/png;base64,@Convert.ToBase64String(Model.ProfilePicture)" id="SettingsFrame" />
					}
					else
					{
						<img src="~/Valentine.jpg" id="SettingsFrame" />
					}
					<input type="button" value="Edit Picture" onclick="FakeCall()" class="ButtonEdit" style="margin-right: auto; margin-left: auto;" />
					<input type="file" id="Settingsfile" name="ProfilePicture" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" onchange="SettingImagePreview(this)" style="display:none;"/>
				</div>

				<div class="SettingsButton">
					<p>For changing the password and email address check "Passwords and Security".</p>
					<input type="submit" value="Update profile" class="ButtonEdit" />
				</div>

			</form>
		}
		
	</div>
</div>

<script src="~/js/ImagePrev.js" asp-append-version="true"></script>

<script>
	const Message = document.getElementById("MessageSuccess");
	if (Message){
		setInterval(function() {Message.style.display = "none"}, 20000);
	}
</script>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}